.total {
  background-image: url("https://ad962edbae8ba7b03b7f-d10007df79b5b7a4e475a291e50a08cf.ssl.cf3.rackcdn.com/creer-un-restaurant/creer-un-restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}
